fieldset{
    width:170px;
    background-color: rosybrown;
    border-radius: 15px;
}

#text_pad{
    height: 100px;
    position: relative;
    top:10px;

}
input[type=text]{
    background-color: white;
    float:right;
    border-radius: 1px;
    border-bottom-color: black;
}
#first_value,#second_value{
    width:94%;
}
#result_input{
    width:50%;
}
#num_pad{
    width:60%;
    text-align: center;
    float:left;
}

input[name=btn]{
    background-color: white;
    border-radius:15px;
    height: 30px;
}
#operation_pad{
    width:40%;
    text-align: center;
    float:left;
}

#plus,#minus,#multiply,#division,#C{
    background-color: white;
    border-radius:5px;
}

